/* Color Pallette
#09333f Dark
#26F7B2 Neonish
#D3EDEA Light
#009D9A Mid */

body {
    height: 100%;
    width: 100%;
    color: #09333f;
    font-family: "Georama";
}

/* NavBar Styling  */

.navbar a {
    font-family: sans-serif;
    padding: 8px 8px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09333f
}

.navbar a span{
    font-weight: 800;
}

/* Content Container Styling */

.content--container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Landing home styling */

.home--wrapper {
    background-color: #09333F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    font-family: "Georama";
}

.home--wrapper .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    height: 50%;
    width: 90%;
    border: 1px solid white;
    max-width: 750px;
    max-height: 500px;
    overflow: hidden;
}

.home--wrapper .card .content {
    color: #09333f;
    z-index: 2;
}

.home--wrapper .card .content span {
    color: #26F7B2;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}

.home--wrapper .card button {
    margin-top: 2em;
    padding: 8px 8px;
    color: #09333f;
    background-color: transparent;
    border: 3px solid #09333f;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 2;
}

/* Home wrapper animation */

.card:after{
    content: "";
    bottom: -5px;
    left: -50;
    height: 20%;
    width: 150%;
    background-color: #D3EDEA;
    position: absolute;
    animation-name: homeAnimation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 5;
    border-top: none;
}

.card:before{
    content: "";
    top: -10px;
    right: -50;
    height: 20%;
    width: 150%;
    color: #272727;
    background-color: #009D9A;
    position: absolute;
    animation-name: homeAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 5;
    border-top: none;
    /* mix-blend-mode: multiply; */
}


/* Home Landing Page Animations */
@keyframes homeAnimation {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(100%);
        background-color: #D3EDEA;
    }
    75%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes homeAnimation2 {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-100%);
        background-color: #009D9A;
    }
    75%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* About me Styling */

.about--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.title {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}

.title:before{
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    border-bottom: 2px solid #09333f;
    width: 150%;
    height: 100%;
}

.about--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.about--content img {
    max-height: 50em;
    max-width: 25em;
    /* border: 2px solid #09333f; */
    /* background-color: #26F7B2; */
    padding: 0px 10px;
}

.about--text--wrapper {
    display: flex;
    flex-direction: column;
    min-width: 25em;
    max-width: 50em;
    font-size: 1em;
    text-align: center;
}

.about--text--wrapper h2{
    opacity: .6;
    font-weight: bold;
}

.about--text--wrapper p{
    font-size: 1em;
    text-align: center;
}

/* Experience Styling */

.experience--wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #009D9A;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5em 5px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    border: 2px solid white;
    background-color: #09333f;
    width: 30em;
    height: 20em;
    overflow: hidden;
    padding: 10px 10px;
    color: white;
    margin: .3em;
}

.experience-image img{
    text-align: center;
    height: 4rem;
    width: 4rem;
}

.experience-content {
    text-align: center;
}

.experience-content h3{
    font-weight: bold;
    opacity: .7;
}

/* Footer Styling */

.footer--wrapper {
    height: 100%;
    width: 100%;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
}

.footer--wrapper ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
}

.footer--wrapper li {
    margin: .3em;
    transition: all .4s;
}

.footer--wrapper ul li a{
    text-decoration: none;
    color: #09333f;
    text-align: center;
    letter-spacing: 2px;
}

.footer--wrapper ul li a img{
    height: 2em;
    width: 2em;
}

.footer--wrapper p {
    text-align: center;
}